@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* custom */
  --color-primary: var(--primary);
  --color-primary-surface: var(--primary-surface);
  --color-primary-border: var(--primary-border);
  --color-primary-hover: var(--primary-hover);
  --color-primary-pressed: var(--primary-pressed);
  --color-primary-focussed: var(--primary-focussed);

  --color-success: var(--success);
  --color-success-surface: var(--success-surface);
  --color-success-border: var(--success-border);
  --color-success-hover: var(--success-hover);
  --color-success-pressed: var(--success-pressed);
  --color-success-focussed: var(--success-focussed);

  --color-error: var(--error);
  --color-error-surface: var(--error-surface);
  --color-error-border: var(--error-border);
  --color-error-hover: var(--error-hover);
  --color-error-pressed: var(--error-pressed);
  --color-error-focussed: var(--error-focussed);

  --color-warning: var(--warning);
  --color-warning-surface: var(--warning-surface);
  --color-warning-border: var(--warning-border);
  --color-warning-hover: var(--warning-hover);
  --color-warning-pressed: var(--warning-pressed);
  --color-warning-focussed: var(--warning-focussed);

  --color-info: var(--info);
  --color-info-surface: var(--info-surface);
  --color-info-border: var(--info-border);
  --color-info-hover: var(--info-hover);
  --color-info-pressed: var(--info-pressed);
  --color-info-focussed: var(--info-focussed);

  --color-neutral-10: var(--neutral-10);
  --color-neutral-20: var(--neutral-20);
  --color-neutral-30: var(--neutral-30);
  --color-neutral-40: var(--neutral-40);
  --color-neutral-50: var(--neutral-50);
  --color-neutral-60: var(--neutral-60);
  --color-neutral-70: var(--neutral-70);
  --color-neutral-80: var(--neutral-80);
  --color-neutral-90: var(--neutral-90);
  --color-neutral-100: var(--neutral-100);
  /* end custom */

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
}

:root {
  /* custom */
  --primary: #1d2a5f;
  --primary-surface: #d2d4df;
  --primary-border: #b4b8ca;
  --primary-hover: #131c3f;
  --primary-pressed: #0a0e20;
  --primary-focussed: rgba(29, 42, 95, 0.2);

  --success: #52bd94;
  --success-surface: #f5fbf8;
  --success-border: #a3e6cd;
  --success-hover: #429777;
  --success-pressed: #317159;
  --success-focussed: rgba(82, 189, 148, 0.2);

  --error: #ff5630;
  --error-surface: #fff5f3;
  --error-border: #ff7452;
  --error-hover: #bf2600;
  --error-pressed: #a74436;
  --error-focussed: rgba(255, 86, 48, 0.2);

  --warning: #ffb020;
  --warning-surface: #fef8cc;
  --warning-border: #ffd079;
  --warning-hover: #996a13;
  --warning-pressed: #66460d;
  --warning-focussed: #ffdfa6;

  --info: #3366ff;
  --info-surface: #f3f6ff;
  --info-border: #9db5ff;
  --info-hover: #2952cc;
  --info-pressed: #1f3d99;
  --info-focussed: #d6e0ff;

  --neutral-10: #ffffff;
  --neutral-20: #f5f5f5;
  --neutral-30: #ededed;
  --neutral-40: #e0e0e0;
  --neutral-50: #c2c2c2;
  --neutral-60: #9e9e9e;
  --neutral-70: #757575;
  --neutral-80: #616161;
  --neutral-90: #404040;
  --neutral-100: #0a0a0a;
  /* end custom */

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  img {
    @apply w-full h-full block object-cover;
  }
  .heading-1 {
    @apply text-6xl font-bold text-neutral-100;
  }
  .heading-2 {
    @apply text-5xl font-bold text-neutral-100;
  }
  .heading-3 {
    @apply text-4xl font-bold text-neutral-100;
  }
  .heading-4 {
    @apply text-3xl font-bold text-neutral-100;
  }
  .heading-5 {
    @apply text-2xl font-bold text-neutral-100;
  }
  .heading-6 {
    @apply text-xl font-bold text-neutral-100;
  }
  .body-large-reguler {
    @apply text-lg leading-[26px];
  }
  .body-large-medium {
    @apply text-lg leading-[26px] font-medium;
  }
  .body-large-semibold {
    @apply text-lg leading-[26px] font-semibold;
  }
  .body-large-bold {
    @apply text-lg leading-[26px] font-bold;
  }
  .body-small-reguler {
    @apply text-base leading-6;
  }
  .body-small-medium {
    @apply text-base leading-6 font-medium;
  }
  .body-small-semibold {
    @apply text-base leading-6 font-semibold;
  }
  .body-small-bold {
    @apply text-base leading-6 font-bold;
  }
  .caption-large-reguler {
    @apply text-sm leading-5;
  }
  .caption-large-medium {
    @apply text-sm leading-5 font-medium;
  }
  .caption-large-semibold {
    @apply text-sm leading-5 font-semibold;
  }
  .caption-large-bold {
    @apply text-sm leading-5 font-bold;
  }
  .caption-small-reguler {
    @apply text-xs leading-[18px];
  }
  .caption-small-medium {
    @apply text-xs leading-[18px] font-medium;
  }
  .caption-small-semibold {
    @apply text-xs leading-[18px] font-semibold;
  }
  .caption-small-bold {
    @apply text-xs leading-[18px] font-bold;
  }
}
